[package]
name = "yacoin-genesis"
documentation = "https://docs.rs/solana-genesis"
version = { workspace = true }
authors = { workspace = true }
description = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[lib]
name = "solana_genesis"

[[bin]]
name = "yacoin-genesis"
path = "src/main.rs"
required-features = ["agave-unstable-api"]

[features]
default = ["agave-unstable-api"]
agave-unstable-api = []

[dependencies]
agave-feature-set = { workspace = true }
agave-logger = { workspace = true }
agave-snapshots = { workspace = true }
base64 = { workspace = true }
bincode = { workspace = true }
clap = { workspace = true }
itertools = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
solana-account = { workspace = true }
solana-bls-signatures = { workspace = true }
solana-clap-utils = { workspace = true }
solana-cli-config = { workspace = true }
solana-clock = { workspace = true }
solana-cluster-type = { workspace = true }
solana-commitment-config = { workspace = true }
solana-entry = { workspace = true }
solana-epoch-schedule = { workspace = true }
solana-feature-gate-interface = { workspace = true }
solana-fee-calculator = { workspace = true }
solana-genesis-config = { workspace = true }
solana-genesis-utils = { workspace = true }
solana-inflation = { workspace = true }
solana-keypair = { workspace = true }
solana-ledger = { workspace = true }
solana-loader-v3-interface = { workspace = true }
solana-native-token = { workspace = true }
solana-poh-config = { workspace = true }
solana-pubkey = { workspace = true }
solana-rent = { workspace = true }
solana-rpc-client = { workspace = true }
solana-rpc-client-api = { workspace = true }
solana-runtime = { workspace = true }
solana-sdk-ids = { workspace = true }
solana-signer = { workspace = true }
solana-stake-interface = { workspace = true, features = ["borsh"] }
solana-time-utils = { workspace = true }
solana-version = { workspace = true }
solana-vote-program = { workspace = true }
tempfile = { workspace = true }

[dev-dependencies]
solana-borsh = { workspace = true }
solana-genesis = { path = ".", features = ["agave-unstable-api"] }
solana-pubkey = { workspace = true, features = ["rand"] }
solana-runtime = { workspace = true, features = ["dev-context-only-utils"] }
solana-vote = { workspace = true }
test-case = { workspace = true }
